<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <nav>
            <h1 style="padding: 20px; background-color: rgba(128, 128, 128, .3)">Your statistics</h1>
        </nav>
    </header>
        <h2>Your IP-addresses</h2>
        <table style="alignment: center; padding: 30px; font-size: large"; cellpadding = 20px>

            {% for item in sites['sites'] %}
                <tr>
                    <td>{{loop.index}}</td>

                    <td>{{item['address']}}</td>

                    <td>{{item['state']}}</td>
                </tr>
            {% endfor %}
        </table>
</body>
</html>





